<!DOCTYPE html>
<html layout:decorate="~{layout}">
<head>
<meta charset="UTF-8" />
</head>
<body>
    <section class="layout-content" layout:fragment="corpo">
        <nav class="navbar navbar-expand-md bg-light">
            <div class="collapse navbar-collapse" id="navbarsExampleDefault">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active"><i class="oi oi-caret-right"></i>
                        <span>Solicitar Empréstimo</span></li>
                </ul>
                <a class="btn btn-primary btn-md" th:href="@{/materiais/listar}"
                    role="button"> <span class="oi oi-spreadsheet" title="Listar"
                    aria-hidden="true"></span> <span>Voltar aos Materiais</span>
                </a>
            </div>
        </nav>

        <div class="container" id="cadastro">
            <div th:replace="fragments/alert"></div>

            <form th:action="@{/emprestimos/salvarSolicitacao}" th:object="${emprestimo}" method="POST">

                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label for="materialTitulo">Material</label> 
                        <input type="text" class="form-control" id="materialTitulo" th:value="${emprestimo.material.titulo}" readonly />
                        <input type="hidden" th:field="*{material.id}" />
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="dataDevolucaoPrevista">Data de Devolução Prevista</label> 
                        <input type="date" class="form-control" id="dataDevolucaoPrevista"
                            th:field="*{dataDevolucaoPrevista}"
                            th:classappend="${#fields.hasErrors('dataDevolucaoPrevista')} ? is-invalid" />
                        <div class="invalid-feedback">
                            <span th:errors="*{dataDevolucaoPrevista}"></span>
                        </div>
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label for="justificativa">Justificativa</label> 
                        <textarea class="form-control" id="justificativa" placeholder="Motivo da solicitação (curto)"
                            th:field="*{justificativa}" rows="3"
                            th:classappend="${#fields.hasErrors('justificativa')} ? is-invalid"></textarea>
                        <div class="invalid-feedback">
                            <span th:errors="*{justificativa}"></span>
                        </div>
                    </div>
                </div>

                <input type="hidden" id="id" th:field="*{id}" />
                <button type="submit" class="btn btn-primary btn-sm">Enviar Solicitação</button>
            </form>
        </div>
    </section>
</body>
</html>